.add_step {
  padding: 10px;
  background-color: #fff;
  border-radius: 0.3rem 1rem;
}
.add_step_form {
  /* background: rgba(230, 230, 230, 0.6); */
  padding: 5px 0;
}
.post_error {
  color: #ff00ff;
  text-align: center;
  margin: 10px;
}
.post_button {
  text-align: right;
}
.notes {
  color: #6e6e6e;
  text-align: left;
  padding-left: 10px;
}
.postProgress {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
